.show-creators-page {
  text-align: center;
  padding: 20px;
  text-shadow: none;
}

.content-creators-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three columns in each row */
  gap: 20px;
  /* Gap between cards */
  margin-top: 20px;
}